<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: headerFragment">
  </head>
  <body style="margin-left:1%;margin-right:1%;">
    <div id="container">
      <h1>
        Hello, <span th:text="${username}">--name--</span>.
      </h1>
      <table class="table table-striped" id="customer-table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Service Rendered</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="customer : ${customers}">
          <td th:text="${customer.id}">Text ...</td>
          <td th:text="${customer.name}">Text ...</td>
          <td th:text="${customer.address}">Text ...</td>
          <td th:text="${customer.serviceRendered}">Text...</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>
          </th>
          <th>
            <form id="new-customer-form"  enctype='application/plain'>
              <input form="new-customer-form" id="name" name="name" value="">
            </form>
          </th>
          <th>
            <input form="new-customer-form" id="address" name="address" value=""><br>
          </th>
          <th style="width:100%">
            <div>
            <input form="new-customer-form" id="serviceRendered" name="serviceRendered" value="">
            <button form="new-customer-form" type="submit" style="margin-left:12px">Add Customer</button>
          </div>
          </th>
        </tr>
      </tfoot>
      </table>

      <button onclick="postIt('/api/logout')">Logout</button>

      <div id="pagefoot" th:include="layout :: footerFragment" style="margin-top:2%;">Footer
      </div>
    </div>
  <!-- container -->
    <script th:inline="javascript">


        function getCsrfToken() {
          return document.querySelector("meta[name='csrf-token']").content;
        }

        function postIt(dest) {          
          var xhr = new XMLHttpRequest();

          xhr.onreadystatechange = () => {
              if(xhr.readyState == 4) {
                  if (xhr.status == 202) {
                      location.href="/"
                  }
                  else if (xhr.status == 400) {
                      location.href="/bad_request";
                  }
                  else if (xhr.status == 401 || xhr.status == 403) {
                      location.href="/";
                  }
              }
          };
          xhr.open("POST", dest);
          xhr.setRequestHeader("x-csrf-token", getCsrfToken() );
          xhr.send();           
        }

        function handleFormSubmit(event) {
            event.preventDefault();

            const form = event.target;
            var data = new FormData(form);
            const formJSON = Object.fromEntries(data.entries());
            form.reset()

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = () => {
                if(xhr.readyState == 4) {
                    if (xhr.status == 202) {
                      tableRedraw();
                    }
                    else if (xhr.status == 400) {
                      location.href="/bad_request";
                    }
                    else if (xhr.status == 401 || xhr.status == 403) {
                      location.href="/";
                    }
                }
            };
            xhr.open("POST", "/api/addcustomer");
            xhr.setRequestHeader("x-csrf-token", getCsrfToken() );
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(JSON.stringify(formJSON, null, 2) );
            }

            async function tableRedraw() {
              const table = document.getElementById("customer-table");
              const oldBody = table.getElementsByTagName("tbody")[0];
              const newBody = document.createElement("tbody");
              const customers = await fetch("/api/get_customers");
              const customersJson = await customers.json();
              const keys = ['id','name','serviceRendered', 'address'];

              for (let i in customersJson) {
                let row = newBody.insertRow();
                let customer = customersJson[i];
                for (let j in keys) {
                  let key = keys[j];
                  let cell = row.insertCell();
                  let text = document.createTextNode(customer[key])
                  cell.appendChild(text);
                }
              } 
              table.replaceChild(newBody, oldBody);
            }

          const form = document.getElementById("new-customer-form");
          form.addEventListener('submit', handleFormSubmit);
    </script>
  </body>
</html>